<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="PibiCo">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/atvirtual/assets/images/favicon.png">
    <title>conectaMAR</title>
    <!-- Custom CSS -->
    <link href="/assets/atvirtual/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="/assets/atvirtual/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="/assets/atvirtual/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/assets/atvirtual/dist/css/style.min.css" rel="stylesheet">
    <style>
      .carousel-control-prev, .carousel-control-next {
        width: 6%;
      }
      .carousel-indicators li {
        width: 9px;
        height: 9px;
        border-radius: 100%;
      }
      .carousel ol {
        margin-bottom: 1px;
      }
    </style>
  </head>
  <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar" data-navbarbg="skin6">
        <nav class="navbar top-navbar navbar-expand-md">
          <div class="navbar-header" data-logobg="skin6">
            <!-- This is for the sidebar toggle which is visible on mobile only -->
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-brand">
              <!-- Logo icon -->
              <a href="index">
                <b class="logo-icon">
                  <!-- Dark Logo icon -->
                  <img src="/assets/atvirtual/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                  <!-- Light Logo icon -->
                  <img src="/assets/atvirtual/assets/images/logo-icon.png" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span class="logo-text">
                  <!-- dark Logo text -->
                  <img src="/assets/atvirtual/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                  <!-- Light Logo text -->
                  <img src="/assets/atvirtual/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                </span>
              </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
          </div>
          
          <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
              <li class="nav-item d-none d-md-block">
                <a class="nav-link" href="javascript:void(0)">
                </a>
              </li>
            </ul>
            <ul class="navbar-nav float-right">
              <li class="nav-item dropdown">
                {% if frappe.session.user != 'Guest' %}
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="/assets/atvirtual/assets/images/users/profile-pic-2.jpg" alt="user" class="rounded-circle" width="40">
                  <span class="ml-2 d-none d-lg-inline-block">
                    <span class="text-dark">{{ frappe.session.user }}</span>
                    <i data-feather="chevron-down" class="svg-icon"></i>
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                  <a class="dropdown-item" href="desk#user-profile"><i data-feather="user" class="svg-icon mr-2 ml-1"></i>Mi Perfil</a>
                  <a class="dropdown-item" href="desk#Form/User/{{ frappe.session.user }}"><i data-feather="settings" class="svg-icon mr-2 ml-1"></i>Mis Ajustes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="?cmd=web_logout"><i data-feather="power" class="svg-icon mr-2 ml-1"></i>Logout</a>
                </div>
                {% else %}
                <a class="nav-link" href="login?redirect-to=index">
                  <img src="/assets/atvirtual/assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle" width="40">
                </a>
                {% endif %}
              </li>
            </ul>
          </div>
          
        </nav>
      </header>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <aside class="left-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar" data-sidebarbg="skin6">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <!-- <li class="sidebar-item">
                <a class="sidebar-link sidebar-link active" href="index" aria-expanded="false">
                  <i data-feather="home" class="feather-icon"></i>
                  <span class="hide-menu">Inicio</span>
                </a>
              </li> -->
              {% if frappe.session.user != 'Guest' %}
              <li class="list-divider"></li>
              <li class="nav-small-cap"><span class="hide-menu">conectaMAR</span></li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="desk#modules/Atvirtual"" aria-expanded="false">
                  <i data-feather="anchor" class="feather-icon"></i>
                  <span class="hide-menu">Aplicaci&oacute;n</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link sidebar-link" href="desk#" aria-expanded="false">
                  <i data-feather="monitor" class="feather-icon"></i>
                  <span class="hide-menu">Paneles</span>
                </a>
              </li>
              <li class="list-divider"></li>
              <li class="nav-small-cap"><span class="hide-menu">Vistas Web</span></li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="training_course" aria-expanded="false">
                  <i data-feather="anchor" class="feather-icon"></i>
                  <span class="hide-menu">Cursos</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link sidebar-link" href="imessage_en?new=1" aria-expanded="false">
                  <i data-feather="message-square" class="feather-icon"></i>
                  <span class="hide-menu">Mensajes</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link sidebar-link" href="control-panel" aria-expanded="false">
                  <i data-feather="link" class="feather-icon"></i>
                  <span class="hide-menu">Dispositivos</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link sidebar-link" href="blog" aria-expanded="false">
                  <i data-feather="bookmark" class="feather-icon"></i>
                  <span class="hide-menu">Art&iacute;culos</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <div class="row m-0 bg-primary animate-in-down">
            <div class="p-3 col-md-6 align-self-center text-white">
              <p class="my-1">El apoyo MIoT a la Formaci&oacute;n</p>
              {% if frappe.session.user != 'Guest' %}
                <a href="?cmd=web_logout" class="btn mb-1 p-1 btn-danger w-25">Salir</a>
              {% else %}
                <a href="login?redirect-to=index" class="btn mb-1 p-1 btn-success w-25">Accede</a>
              {% endif %}  
            </div>
            <div class="p-0 col-md-6">
              <div class="carousel slide" data-ride="carousel" id="carousel1">
                <!--
                <ol class="carousel-indicators">
                  <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel1" data-slide-to="1"></li>
                  <li data-target="#carousel1" data-slide-to="2"></li>
                </ol>
                -->
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item"> <img class="d-block img-fluid w-100" src="/assets/atvirtual/assets/images/background/sea-bg.jpg" alt="first slide">
                  </div>
                  <div class="carousel-item active"> <img class="d-block img-fluid w-100" src="/assets/atvirtual/assets/images/background/earth-bg.jpg" data-holder-rendered="true">
                  </div>
                  <div class="carousel-item"> <img class="d-block img-fluid w-100" src="/assets/atvirtual/assets/images/background/sky-bg.jpg" data-holder-rendered="true">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">previo</span>
                </a>
                <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">siguiente</span>
                </a>
              </div>
            </div>
          </div>
                        
          <div class="card-group">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch m-0 p-0">
              <div class="card">
                <img src="/assets/atvirtual/assets/images/big/img1.jpg" class="card-img-top" alt="Needs">
                <div class="card-body">
                  <h5 class="card-title"><a href="home_en">El Objetivo</a></h5>
                  <p class="card-text">El fin de la Aplicaci&oacute;n es la gesti&oacute;n con IoT (MIoT) de las Sesiones de Formaci&oacute;n donde los participantes llevan dispositivos o las &aacute;reas disponen de equipamiento para mejorar el proceso de aprendizaje, transmitir informaci&oacute;n de forma clara y recolectar datos importantes.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch m-0 p-0">
              <div class="card">
                <img src="/assets/atvirtual/assets/images/big/img2.jpg" class="card-img-top" alt="App">
                <div class="card-body">
                  <h5 class="card-title"><a href="">La App</a></h5>
                  <p class="card-text">Basada en software y librer&iacute;as <strong>de c&oacute;digo abierto</strong>, completamente <strong>aut&oacute;noma y segura</strong>, facilmente mantenible y <strong>escalable</strong>, usando hardware <strong>est&aacute;ndar</strong>, capaz de evoluciones futuras o actualizaciones, usando las &uacute;ltimas tecnolog&iacute;as y <strong>estado del arte</strong> en IoT.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch m-0 p-0">
              <div class="card">
                <img src="/assets/atvirtual/assets/images/big/img3.jpg" class="card-img-top" alt="Results">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Los Resultados</a></h5>
                  <p class="card-text">Los instructores enviar&aacute;n mensajes u &oacute;rdenes a los dispositivos, y quedar&aacute;n registrados en un proceso completamente integrado.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch m-0 p-0">
              <div class="card">
                <img src="/assets/atvirtual/assets/images/big/img4.jpg" class="card-img-top" alt="Company">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Los Desarrolladores</a></h5>
                  <p class="card-text">PibiCo es una joven Start-Up con Ingenieros Expertos en Sistemas de Gesti&oacute;n y Control, y manejo con IoT(MIoT) y Valorizaci&oacute;n Digital.</p>
                </div>
              </div>
            <div>
          </div>
          <!-- *************************************************************** -->
          <!-- End First Cards -->
          <!-- *************************************************************** -->
        </div>  
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center text-muted">&copy; PibiCo sobre un dise&ntilde;o de <a href="https://wrappixel.com">WrapPixel</a> e ilustraciones de <a href="https://freepik.com">FreePik</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/atvirtual/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/atvirtual/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/atvirtual/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="/assets/atvirtual/dist/js/app-style-switcher.js"></script>
    <script src="/assets/atvirtual/dist/js/feather.min.js"></script>
    <script src="/assets/atvirtual/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/atvirtual/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/assets/atvirtual/dist/js/custom.min.js"></script>
</body>

</html>