{% include 'templates/page_menus.html' %}

{% block content %}
 
{% endblock %}
{% block script %}
  <!--This page JavaScript -->
  <script src="/assets/atvirtual/assets/extra-libs/c3/d3.min.js"></script>
  <script src="/assets/atvirtual/assets/extra-libs/c3/c3.min.js"></script>
  <script src="/assets/atvirtual/assets/libs/chartist/dist/chartist.min.js"></script>
  <script src="/assets/atvirtual/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
  <script src="/assets/atvirtual/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="/assets/atvirtual/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/assets/atvirtual/dist/js/pages/dashboards/dashboard1.min.js"></script>
{% endblock %}