
<!-- Head Block -->
{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="PibiCo">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/atvirtual/assets/images/favicon.png">
  <title>pibiTraining</title>
  <!-- Custom CSS -->
  <link href="/assets/atvirtual/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
  <link href="/assets/atvirtual/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
  <link href="/assets/atvirtual/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="/assets/atvirtual/dist/css/style.min.css" rel="stylesheet">
{% endblock %}

{% block page_content %}
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
 <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin6">
      <nav class="navbar top-navbar navbar-expand-md">
        <div class="navbar-header" data-logobg="skin6">
          <!-- This is for the sidebar toggle which is visible on mobile only -->
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <div class="navbar-brand">
            <!-- Logo icon -->
            <a href="index_en">
              <b class="logo-icon">
                <!-- Dark Logo icon -->
                <img src="/assets/atvirtual/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                <!-- Light Logo icon -->
                <img src="/assets/atvirtual/assets/images/logo-icon.png" alt="homepage" class="light-logo" />
              </b>
              <!--End Logo icon -->
              <!-- Logo text -->
              <span class="logo-text">
                <!-- dark Logo text -->
                <img src="/assets/atvirtual/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                <!-- Light Logo text -->
                <img src="/assets/atvirtual/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
              </span>
            </a>
          </div>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Toggle which is visible on mobile only -->
          <!-- ============================================================== -->
          <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
            <!-- ============================================================== -->
            <!-- create new -->
            <!-- ============================================================== -->
            <li class="nav-item d-none d-md-block">
              <a class="nav-link" href="javascript:void(0)">
                <div class="customize-input">
                  <select class="custom-select form-control bg-white custom-radius custom-shadow border-0" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
                    <option value="index_en" selected>EN</option>
                    <option value="index_es">ES</option>
                    <option value="index_fr">FR</option>
                  </select>
                </div>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav float-right">
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/assets/atvirtual/assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle" width="40">
                <span class="ml-2 d-none d-lg-inline-block">
                  <span>Hello,</span>
                  <span class="text-dark">Jason Doe</span>
                  <i data-feather="chevron-down" class="svg-icon"></i>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="user" class="svg-icon mr-2 ml-1"></i>My Profile</a>
                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="credit-card" class="svg-icon mr-2 ml-1"></i>My Balance</a>
                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="mail" class="svg-icon mr-2 ml-1"></i>Inbox</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="settings" class="svg-icon mr-2 ml-1"></i>Account Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="power" class="svg-icon mr-2 ml-1"></i>Logout</a>
                <div class="dropdown-divider"></div>
                <div class="pl-4 p-3"><a href="javascript:void(0)" class="btn btn-sm btn-info">View Profile</a></div>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
          </ul>
        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin6">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="sidebar-link sidebar-link" href="index" aria-expanded="false">
                <i data-feather="home" class="feather-icon"></i>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="list-divider"></li>
            <li class="nav-small-cap"><span class="hide-menu">Applications</span></li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="new" aria-expanded="false">
                <i data-feather="tag" class="feather-icon"></i>
                <span class="hide-menu">Ticket List</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link sidebar-link" href="new" aria-expanded="false">
                <i data-feather="message-square" class="feather-icon"></i>
                <span class="hide-menu">Chat</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link sidebar-link" href="new" aria-expanded="false">
                <i data-feather="calendar" class="feather-icon"></i>
                <span class="hide-menu">Calendar</span>
              </a>
            </li>
            <li class="list-divider"></li>
            <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
            <li class="sidebar-item">
              <a class="sidebar-link sidebar-link" href="new" aria-expanded="false">
                <i data-feather="edit-3" class="feather-icon"></i>
                <span class="hide-menu">Documentation</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link sidebar-link" href="?cmd=web_logout" aria-expanded="false">
                <i data-feather="log-out" class="feather-icon"></i>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Hello</h3>
            <div class="d-flex align-items-center">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0 p-0">
                  <li class="breadcrumb-item"><a href="index">Dashboard</a></li>
                </ol>
              </nav>
            </div>
           </div>
           <div class="col-5 align-self-center">
             <div class="customize-input float-right">
               <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                 <option selected>Aug 19</option>
                 <option value="1">July 19</option>
                 <option value="2">Jun 19</option>
               </select>
             </div>
           </div>
         </div>
       </div>
       <!-- ============================================================== -->
       <!-- End Bread crumb and right sidebar toggle -->
       <!-- ============================================================== -->
       {% block content %}{% endblock %}
 
       <!-- ============================================================== -->
       <!-- footer -->
       <!-- ============================================================== -->
       <footer class="footer text-center text-muted">
         All Rights Reserved by PibiCo over Design by <a href="https://wrappixel.com">WrapPixel</a>.
       </footer>
       <!-- ============================================================== -->
       <!-- End footer -->
       <!-- ============================================================== -->
     </div>
     <!-- ============================================================== -->
     <!-- End Page wrapper  -->
     <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="/assets/atvirtual/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/atvirtual/assets/libs/popper.js/dist/umd/popper.min.js"></script>
  <script src="/assets/atvirtual/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- apps -->
  <script src="/assets/atvirtual/dist/js/app-style-switcher.js"></script>
  <script src="/assets/atvirtual/dist/js/feather.min.js"></script>
  <script src="/assets/atvirtual/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="/assets/atvirtual/dist/js/sidebarmenu.js"></script>
  <!--Custom JavaScript -->
  <script src="/assets/atvirtual/dist/js/custom.min.js"></script>     
  {% block script %}{% endblock %}
{% endblock %}