{% block meta_block %}
  <meta http-equiv="refresh" content="60" />		
{% endblock %}

{% block header %}{% endblock %}

{% block style %}
  <style>
   main {
      height: 100% !important;
    }
   .page-header h1 {
     font-size: 2rem;
   }
  </style>
{% endblock %}

{% block page_content %}
  <div class="card w-90 p-2 m-1" id="courses">
    <h5><a class="course-list card-title" href={{ route }}>{{ title }}</a></h5>
    <p class="card-text">
      <span class="text-muted">
        <i class="fa fa-tablet text-muted font-10 mr-1"></i>
        Descripci&oacute;n: <b>{{ description }}</b><br>
      </span>
    </p>
  </div>
{% endblock %}