{% extends "templates/web.html" %}

{% block meta_block %}
  <meta http-equiv="refresh" content="60" />		
{% endblock %}

{% block header %}
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/atvirtual/assets/images/favicon.png">
  <link href="/assets/atvirtual/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
  <link href="/assets/atvirtual/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
  <link href="/assets/atvirtual/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
  <link href="/assets/atvirtual/dist/css/style.min.css" rel="stylesheet">
{% endblock %}

{% block style %}
<style>
  [data-path*="courses"] .my-5 {
    margin-top: 0px !important;
  }
  /*.page-content-wrapper > .container{
    padding: 0px;
    max-width:100%;
    width: 100vw;
  }*/
  .card {
    min-height: 440px;
  }
  li .link {
    cursor: pointer;
  }
  
  .drawcard {
    background: url("/assets/atvirtual/assets/images/background/cardat.jpg");
    background-size: cover;
  }
  .olas{
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 80%;
    right: 40%;
  }
  .nave{
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 70%;
    left: 30%;
  }
  
  /* Profile Card */
  .card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
  }
  .card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
  }
  .card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
  }
  .card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
  }
  .card .card-media img {
    max-width: 100%;
    max-height: 100%;
  }
  .card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
  }
  .card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
  }
  .card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
  }
  .card .card-comments .comments-collapse-toggle a,
  .card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
  }
  .card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
  }
  .card.people:first-child {
    margin-left: 0;
  }
  .card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
  }
  .card.people .card-top.green {
    background-color: #53a93f;
  }
  .card.people .card-top.blue {
    background-color: #427fed;
  }
  .card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
  }
  .card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
  }
  .card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
  }
  .card.hovercard .cardheader {
    background: url("/assets/atvirtual/assets/images/background/earth-bg.jpg");
    background-size: cover;
    height: 135px;
  }
  .card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
  }
  .card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
  }
  .card.hovercard .info {
    padding: 4px 8px 10px;
  }
  .card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
  }
  .card.hovercard .info .desc {
    overflow: hidden;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
  }
  .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
  }
  
  /* example card */
  .card .left {
    position: absolute;
    left: 0;
    width: 190px;
    height: 300px;
    overflow: hidden;
  }
  .card .left .avatar {
    position: absolute;
    left: 60px;
    top: 32px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    background: #4682b4;
  }
  .card .left .avatar .circle {
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
    border: 1px solid;
  }
  .card .left .avatar .circle:first-child {
    left: -3px;
    top: -3px;
    width: 76px;
    height: 76px;
    border-color: #4682b4 #4682b4 #4682b4 transparent;
  }
  .card .left .avatar .circle:nth-child(2) {
    left: -6px;
    top: -6px;
    width: 82px;
    height: 82px;
    border-color: #4682b4 transparent #4682b4 #4682b4;
  }
  .card .left .avatar:hover .circle:first-child {
    transform: rotate(360deg);
  }
  .card .left .avatar:hover .circle:nth-child(2) {
    transform: rotate(-360deg);
  }
  .card .left .avatar img {
    width: inherit;
    height: inherit;
    display: block;
    border-radius: inherit;
  }
  .card .left .info {
    position: absolute;
    text-align: center;
    top: 122px;
    width: 100%;
  }
  .card .left .info span {
    display: block;
  }
  .card .left .info span.small {
    top: 22px;
  }
  .card .left .buttons {
    position: absolute;
    text-align: center;
    bottom: 32px;
    width: 100%;
    height: 80px;
  }
  .card .left .buttons button {
    padding-top: 2px;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #4682b4;
    width: 120px;
    height: 26px;
    margin: 8px 0;
    background: white;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 0 1px #4682b4;
    cursor: pointer;
  }
  .card .left .buttons button:hover {
    background: #4682b490;
    color: white;
  }
  .card .right {
    position: absolute;
    right: 0;
    width: 130px;
    height: 300px;
  }
  .card .right .estats {
    position: relative;
    height: 117px;
    background: #4682b421;
    box-shadow: 0 -1px white;
    cursor: pointer;
  }
  .card .right .estats:first-child {
    box-shadow: none;
  }
  .card .right .estats:hover {
    background: #4682b430;
  }
  .card .right .estats span.big {
    top: 30px;
  }
  .card .right .estats span.small {
    top: 50px;
  }
  #control span {
    position: absolute;
    left: 0;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
  }
  span.big {
    font-size: 18px;
    font-weight: 600;
  }
  span.small {
    font-size: 12px;
    font-weight: 300;
  }

/* */

</style>

{% endblock %}

{% block page_content %}
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid mt-3">
    <h2><a href="/control-panel">Atr&aacute;s</a></h2>
    <h4><b><a href='/desk#Form/Control%20Panel/{{name}}'>{{ title }}</a></b></h4>
    <p class="text-muted"><i data-feather="airplay" class="svg-icon"></i> {{ description }}</p>
    <!-- *************************************************************** -->
    <!-- Start Sales Charts Section -->
    <!-- *************************************************************** -->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card">
		      <div class="card-header">
		        <span class="card-title"><i data-feather="clock" class="svg-icon"></i>
              <strong>
                <a><span class="badge hours"></span></a> :
                <a><span class="badge min"></span></a> :
                <a><span class="badge sec"></span></a>
              </strong>
              <!-- <span class="badge badge-danger badge-counter badge-pill">{{ pibimessages | list | length }}</span> -->
            </span>
 		      </div>
		      <div>
            <iframe class="mb-1" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-5.767811536788941%2C43.4847498538431%2C-5.754475593566895%2C43.491934416797754&amp;layer=mapnik&amp;marker=43.490159761329714%2C-5.7611918449401855" style="border: none;" width="100%" height="120px"></iframe>
          </div>
		      <div class="px-4 pb-4 pt-3-5">
            <span>
			        <h5 class="card-subtitle font-weight-light"><strong>Proyecto AT Virtual</strong></h5>
			        <a class="float-right"><i class="fa fa-anchor fa-3x"></i></a>
			      </span>  
            <h6 class="font-small font-weight-light mt-n1">Seguridad Mar&iacute;tima e Innovaci&oacute;n</h6>
            <a class="btn btn-info" href="https://www.at-virtual.eu/" target="_blank">Saber m&aacute;s</a>
          </div>
		      <div class="card-body">
            <ul class="list-style-none mb-0">
              <li class="link">
                <i class="fas fa-circle text-primary font-10 mr-2"></i>
                <span class="text-muted link" onclick="window.open('/desk#List/Device/List?control_panel={{ name }}','_blank')"><i data-feather="airplay" class="svg-icon"></i> Dispositivos</span>
                <span class="text-dark float-right font-weight-medium">{{ devices | list | length }}</span>
              </li>
            </ul>
          </div>
          <div class="card-footer m-0 p-0">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link"><i data-feather="activity" class="svg-icon"></i></a>
              </li>
            </ul>
          </div>      
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
		        <span class="card-title"><i data-feather="map" class="svg-icon"></i>
              <strong>
                Panel Control
              </strong>
              <!-- <span class="badge badge-danger badge-counter badge-pill">{{ pibimessages | list | length }}</span> -->
            </span>
 		      </div>
          <div class="card-body drawcard">
            <span>
              <a href="#" title="Nave" class="nave btn btn-success rounded-circle text-white m-0 p-1"><i data-feather="send" class="svg-icon font-30"></i></a>
              <a href="#" title="Olas" class="olas btn btn-danger rounded-circle text-white m-0 p-1"><i data-feather="wind" class="svg-icon font-30"></i></a>
            </span>
          </div>
          <div class="card-footer m-0 p-0">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link"><i data-feather="activity" class="svg-icon"></i></a>
              </li>
            </ul>
          </div>       
        </div>
      </div>
      
      <!-- *************************************************************** -->
      <!-- Profile Card -->
      <!-- *************************************************************** -->
      <!--<div class="col-lg-4 col-md-6">
        <div class="card hovercard">
          <div class="cardheader"></div>
          <div class="avatar">
            <img alt="" src="/assets/atvirtual/assets/images/users/profile-pic-2.jpg">
          </div>
          <div class="info">
            <div class="title">
              <a target="_blank" href="https://www.pibico.org">PibiCo</a>
            </div>
            <div class="desc">Passionate designer</div>
            <div class="desc">Curious developer</div>
            <div class="desc">Tech geek</div>
          </div>
          <div class="bottom">
            <a class="btn btn-primary btn-sm" href="https://twitter.com/webmaniac">
              <i data-feather="twitter" class="svg-icon"></i>
            </a>
            <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/+ahmshahnuralam">
              <i data-feather="facebook" class="svg-icon"></i>
            </a>
          </div>
        </div>
      </div> -->
      <!-- *************************************************************** -->
      <!-- End of Profile Card -->
      <!-- *************************************************************** -->
      <!-- Example Card -->
      <!-- *************************************************************** -->
      {% for device in devices %}
      <div class="col-lg-4 col-md-6">
        <div class="card m-0 p-0">
          <div class="card-header">
		        <span class="card-title"><i data-feather="airplay" class="svg-icon"></i> <strong>{{ device.name }} </strong></span>
 		      </div>
          <div class="card-body m-0 p-0">
            <div class="left">
              <div class="avatar">
                <div class="circle"></div>
                <div class="circle"></div>
                <img src="/assets/atvirtual/assets/images/users/{{ loop.index }}.jpg" />
              </div>
              <div class="info">
                <span class="big">{{ device.device_name }}</span><span class="small">{{ device.alias }}</span>
                <meter id="low" min="0" max="100" low="30" high="75" optimum="80" value="25"></meter>
              </div>
              <div class="buttons">
                <button class="flw">reiniciar</button><button class="msg">ordenes</button>
              </div>
            </div>
            <div class="right" id="control">
              <div class="estats">
                <span class="big">12</span><span class="small">mensajes</span>
              </div>
              <div class="estats">
                <span class="big">7</span><span class="small">e-mails</span>
              </div>
              <div class="estats">
                <span class="big">9</span><span class="small">comandos</span>
              </div>
            </div>
          </div>
          <div class="card-footer m-0 p-0">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link"><i data-feather="activity" class="svg-icon"></i></a>
              </li>
            </ul>
          </div>   
        </div>
      </div>
      {% endfor %}
      <!-- *************************************************************** -->
      <!-- End of Example Card -->
      <!-- *************************************************************** -->
      
    </div>
    <!-- *************************************************************** -->
    <!-- End Sales Charts Section -->
    <!-- *************************************************************** -->
    
    
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
{% endblock %}

{% block script %}
  <script src="/assets/atvirtual/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/atvirtual/assets/libs/popper.js/dist/umd/popper.min.js"></script>
  <script src="/assets/atvirtual/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    
  <script src="/assets/atvirtual/dist/js/app-style-switcher.js"></script>
  <script src="/assets/atvirtual/dist/js/feather.min.js"></script>
  <script src="/assets/atvirtual/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="/assets/atvirtual/dist/js/sidebarmenu.js"></script>
  <!--Custom JavaScript -->
  <script src="/assets/atvirtual/dist/js/custom.min.js"></script>
  <script src="/assets/atvirtual/assets/extra-libs/c3/d3.min.js"></script>
  <script src="/assets/atvirtual/assets/extra-libs/c3/c3.min.js"></script>
  <script src="/assets/atvirtual/assets/libs/chartist/dist/chartist.min.js"></script>
  <script src="/assets/atvirtual/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
  <script src="/assets/atvirtual/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="/assets/atvirtual/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/assets/atvirtual/dist/js/pages/dashboards/dashboard1.min.js"></script>
  <script>
    $(document).ready(function() {
      setInterval(function() {
        var hours = new Date().getHours();
        $(".hours").html((hours < 10 ? "0" : "") + hours);
      }, 1000);
      setInterval(function() {
        var minutes = new Date().getMinutes();
        $(".min").html((minutes < 10 ? "0" : "") + minutes);
      }, 1000);
      setInterval(function() {
        var seconds = new Date().getSeconds();
        $(".sec").html((seconds < 10 ? "0" : "") + seconds);
      }, 1000);
    });
  </script>
{% endblock %}